div.free-intro(ng-show="showDetails")
| We love the idea of students talking to those they meet.
| Therefore, we're making it easy for students to get a free
| language guide. All you have to do is create a fictional story
| (humor us, write at least ~30 words) that might occur if you
| talk to people you meet during your travels.

p {{this}}

form.story-form
textarea.story-box(ng-click="showDetails = !showDetails", placeholder="It had rained for 6 straight days.")

div.authorsDetails
	input(name='name', placeholder="Your Name")
	input(name='name', placeholder="Your Address")
	select
		option Arabic
		option French
		option Mandarin
	input(type="checkbox", name="completed", checked=(true===false ? "checked" : undefined)) Can we share your masterpiece?
	button.submit-button(submit="/email-story") Submit

button.submit-button(ng-click="authorForm") Finished!

a(href="/demo")
	img.guide-corner(src='/images/guide-corner.jpg')