div.free-intro(ng-class="{'ng-hide': hidden}")
| Student-travelers should be able to talk with those they meet.
| If you are a student, we'll ship free language guide of your choosing.
| All you have to do is create a fictional story (humor us, write at least ~30 words)
| that might occur if you talk to people you meet during your travels.

form.story-form
textarea.story-box(ng-click="cleanSlate()", placeholder="It had been 30 days since I left...")

div.authorsDetails
	input(name='name', placeholder="Your Name")
	input(name='name', placeholder="Your Address")
	select
		option Arabic
		option French
		option Mandarin
	input(type="checkbox", name="completed", checked=(true===false ? "checked" : undefined)) Can we share your masterpiece?
	button.submit-button(submit="/email-story") Submit

button.submit-button(ng-click="authorForm") Finished!

a(href="/demo")
	img.guide-corner(src='/images/guide-corner.jpg')