#top-box

  #carousel.slide.carousel(data-ride="carousel")
    .carousel-inner
      .item.active
        img(src="images/home/home.jpg", alt="...")
      .item
        img(src="images/home/home2.jpg", alt="...")
      .item
        img(src="images/home/home3.jpg", alt="...")
      .item
        img(src="images/home/home4.jpg", alt="...")

    <!-- Controls -->
    a.left.carousel-control(href="#carousel", data-slide="prev")
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href="#carousel", data-slide="next")
      span.glyphicon.glyphicon-chevron-right
