block css
 link(rel='stylesheet', href='/css/landing.css')

.hero-container
 img.hero(src="/images/road_crop.png")
 div.hero-content
  h1.title 30 WORDS Language Guides
  h2.subtitle Connecting Intrepid Travelers with those they Meet.
  //- .blurb So, you've wandered off the beaten path in Asia.
  //- h5 Anywhere you travel,
  //- h4.slogan Start the Conversation

.as-seen-in
  ul
    li NyTimes
    li FoxNews

.feature-box
  div
    h2 Holiday Time!
    div 30 WORDS slides nicely into any stocking.  Or pocket for that matter.
  img(src='/images/guideOpenedTags.png')

.feature-box
  img(src='/images/guideOpened.png')
  div.float-right
    h2 The World's Most Durable Guide
    div 30 WORDS slides nicely into any stocking.  Or pocket for that matter.

.feature-box
  div.float-right
    h2 100% Upcyclable
    div Boom!  There is no cleaner way to travel.
  img(src='/images/guideOpened.png')

.feature-box
  div
    h2 Everything you Need. Quickly.
    div 30 WORDS slides nicely into any stocking.  Or pocket for that matter.
  img(src='/images/guideOpenedTags.png')

.feature-box
  p Unlimited Battery Life
