block css
 link(rel='stylesheet', href='/css/landing.css')

.hero-container
 img.hero(src="/images/road_crop.png")
 div.hero-content
  h1.title 30 WORDS Language Guides
  h2.subtitle Durable guides for Intrepid Travelers
  .blurb So, you've wandered off the beaten path in Asia.
  h5 Anywhere you travel,
  h4.slogan Start the Conversation

.feature-box
  p Holiday Time!
  img(src='/images/guideOpenedTags.png')

.feature-box
  p The World's Most Durable Guide
  img(src='/images/guideOpened.png')

.feature-box
  p Everything you Need. Quickly.
  img(src='/images/guideOpenedTags.png')

.feature-box
  p Unlimited Battery Life
