nav.nav-list
  a(href='/')
   img.logo

  ul
    li
     a(href='demo', ng-class="{active:isActive('/demo')}") Design
    li
     a(href='about', ng-class="{active:isActive('/about')}") Mission
    li
     a(href='http://162.243.150.16/', ng-class="{active:isActive('/blog')}") Blog
    li
     a(href='free', ng-class="{active:isActive('/free')}") Earn a Guide
    li
     a(href='store', ng-class="{active:isActive('/store')}", ng-click="reloadCtrl()") Store

  a.store-link(href='store', ng-click="reloadCtrl()") Store