nav.nav-list
  a(href='/landing')
   img.logo

  ul
    li
     a(href='about') About
    li
     a(href='blog') Blog
    li
     a(href='demo') Design
    li
     a(href='free') Free
    li
     a(href='store') Store
  a.store-link Store