header.navbar.bs-docs-nav
  .navbar-header
    button.navbar-toggle.bs-docs-nav(data-toggle="collapse", data-target=".bs-navbar-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a(href='/')
     img.logo(src="/images/ilab-logo.png")

  nav.collapse.navbar-collapse.bs-navbar-collapse
    ul.nav.navbar-nav
      li
       a(href='/', ng-class="{active:isActive('/')}") home
      li
       a(href='what-we-do', ng-class="{active:isActive('/what-we-do')}") what we do
      li
       a(href='who-we-are', ng-class="{active:isActive('/who-we-are')}") who we are
      li
       a(href='http://www.ilabhaiti.wordpress.com', target="_blank") news
      li
       a(data-toggle="modal", data-target="#myModal") donate


