div.what-main

  #carousel-what.slide.carousel

    ol.carousel-indicators
      li.active(data-target="#carousel-what", data-slide-to="0")
      li(data-target="#carousel-what", data-slide-to="1")
      li(data-target="#carousel-what", data-slide-to="2")
      li(data-target="#carousel-what", data-slide-to="3")
      li(data-target="#carousel-what", data-slide-to="4")

    .carousel-inner

      .item.active
        ul.thumbnails.row
          li.what-image-box.col-md-6
            a(data-target="#carousel-what", data-slide-to="1")
              img(src="images/what-we-do/what-we-do-1.jpg", alt="")
          li.what-image-box.col-md-6
            a(data-target="#carousel-what", data-slide-to="2")
              img(src="images/what-we-do/what-we-do-2.jpg", alt="")
          li.what-image-box.col-md-6
            a(data-target="#carousel-what", data-slide-to="3")
              img(src="images/what-we-do/what-we-do-3.jpg", alt="")
          li.what-image-box.col-md-6
            a(data-target="#carousel-what", data-slide-to="4")
              img(src="images/what-we-do/what-we-do-4.jpg", alt="")

      .item
        img(src="images/what-we-do/opportunity.jpg")
      .item
        img(src="images/what-we-do/socialimpact.jpg")
      .item
        img(src="images/what-we-do/sustainabilty.jpg")
      .item
        img(src="images/what-we-do/technology.jpg")


    //- a.left.carousel-control(href="what-we-do/#carousel-what", data-slide="prev")
    //-   span.glyphicon.glyphicon-chevron-left
    //- a.right.carousel-control(href="what-we-do/#carousel-what", data-slide="next")
    //-   span.glyphicon.glyphicon-chevron-right

