div.what-main

  img.what-image-4.what-big-images(src="/images/what-we-do/image-4.jpg")
  img.what-image-2.what-big-images(src="/images/what-we-do/image-2.jpg")
  img.what-image-3.what-big-images(src="/images/what-we-do/image-3.jpg")
  img.what-image-1.what-big-images(src="/images/what-we-do/image-1.jpg")
  div.project-overview
    | We are here to let Haitians decide. At iLab // Haiti,
    | <a href="http://kidmob.org/" target="_blank"> KIDmob</a>
    | collaborates broadly with locals on projects such as
    | prototyping 3D-printed umbilical cord clamps for use in local
    | clinics, or building a chair without a ruler. iLab // Haiti has
    | found its home at
    | <a href="http://www.haiti.communitere.org/" target="_blank"> Haiti Communitere</a>, an established resource
    | center where tools and classes give locals a space to take
    | the future of Haiti into their own hands.



    //- a.left.carousel-control(href="what-we-do/#carousel-what", data-slide="prev")
    //-   span.glyphicon.glyphicon-chevron-left
    //- a.right.carousel-control(href="what-we-do/#carousel-what", data-slide="next")
    //-   span.glyphicon.glyphicon-chevron-right

