.item
  div.row
    div.who-row
      a.col-md-4.who-image-box(href="/who-we-are/kate")
        img(src="images/who-we-are/kate.png")

      a.col-md-4.who-image-box(href="/who-we-are/tyler")
        img(src="images/who-we-are/tyler.png")

      a.col-md-4.who-image-box(href="/who-we-are/mitch")
        img(src="images/who-we-are/mitch.png")

      a.col-md-4.who-image-box(href="/who-we-are/patima")
        img(src="images/who-we-are/patima.png")

      a.col-md-4.who-image-box(href="/who-we-are/andrew")
        img(src="images/who-we-are/andrew.png")

      a.col-md-4.who-image-box(href="/who-we-are/dara")
        img(src="images/who-we-are/dara.png")

      a.col-md-4.who-image-box(href="/who-we-are/dayman")
        img(src="images/who-we-are/dayman.png")

      a.col-md-4.who-image-box(href="/who-we-are/franky")
        img(src="images/who-we-are/franky.png")

      a.col-md-4.who-image-box(href="/who-we-are/johnson")
        img(src="images/who-we-are/johnson.png")

      a.col-md-4.who-image-box(href="/who-we-are/willio")
        img(src="images/who-we-are/willio.png")

      a.col-md-4.who-image-box(href="/who-we-are/patrice")
        img(src="images/who-we-are/patrice.png")

      a.col-md-4.who-image-box(href="/who-we-are/david")
        img(src="images/who-we-are/david.png")
