.item
  div.row
    div.who-row
      a.col-md-4.who-image-box(href="/who-we-are/tyler")
        img(src="images/who-we-are/tyler.jpg")

      a.col-md-4.who-image-box(href="/who-we-are/kate")
        img(src="images/who-we-are/kate.jpg")

      a.col-md-4.who-image-box(href="/who-we-are/dara")
        img(src="images/who-we-are/dara.jpg")

      a.col-md-4.who-image-box(href="/who-we-are/patima")
        img(src="images/who-we-are/patima.jpg")

      //- a.col-md-4.who-image-box(href="/who-we-are/patima")
      //-   img(src="images/who-we-are/andrew.jpg")

      a.col-md-4.who-image-box(href="/who-we-are/dayman")
        img(src="images/who-we-are/dayman.jpg")



//- #carousel-who.carousel.slide(data-ride="carousel", interval="3000")

  //- ol.carousel-indicators
  //-   li.active(data-target="#carousel-who", data-slide-to="0")
  //-   li(data-target="#carousel-who", data-slide-to="1")

  //- .carousel-inner

  //-   .item.active
  //-     img(src="images/who-we-are/who-background.jpg", alt="...")
  //-     div.box-right
  //-       div.image-box
  //-       div.text-box
  //-         p iLabHaiti is a partnership between Haiti Communitere and KIDmob.
  //-         p Our mission is to provide access to tools for design and fabrication and to teach creative problem solving strategies.
  //-         p KIDmob is a not-for-profit organization that believes design thinging can be a powerful force to empower communities to envision - and create for themselves - a better world.


    //- a.left.carousel-control(href="who-we-are/#carousel-who", data-slide="prev")
    //-   span.glyphicon.glyphicon-chevron-left
    //- a.right.carousel-control(href="who-we-are/#carousel-who", data-slide="next")
    //-   span.glyphicon.glyphicon-chevron-right
