extends layout

block body

  <div class="main" ng-view></div>

  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js')
  script(src='js/lib/angular-ui.js')
  script(src='js/product.js')
  script(src='js/shoppingCart.js')
  script(src='js/store.js')
  script(src='js/filters.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/directives.js')
  script(src='js/app.js')
