extends layout

block body

  <div class="main" ng-view></div>

  #myModal.modal.fade
    .modal-dialog
      .modal-header Thank you!
      .modal-body We're going to redirect you to our donation page.
      .modal-body When you get there, please enter "KIDmob: iLab // Haiti' as the project name.
      a.btn.btn-primary.donate-button(target="_blank", href="https://donatenow.networkforgood.org/1442843") Donate Now

  #contactModal.modal.fade
    .modal-dialog
      .modal-header Contact Us
      .modal-body To learn more, or reach us, please email us here:
      .modal-body <a href="mailto:ilab.haiti@gmail.com" target="_blank">ilab.haiti@gmail.com</a>

  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src='js/bootstrap.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js')
  script(src='js/lib/angular/angular-resource.js')
  script(src='js/lib/angular/angular-sanitize.js')
  script(src='js/main.js')
  script(src='js/services.js')
  script(src='js/filters.js')
  script(src='js/controllers.js')
  script(src='js/directives.js')
  script(src='js/app.js')
