<!DOCTYPE html>
doctype 5
html(ng-app="ilabApp")
  head
    meta(charset='utf8')
    base(href='/')
    title iLab // Haiti
    link(rel='stylesheet', href='/css/bootstrap.min.css', rel="stylesheet")
    link(rel="shortcut icon", href="/images/favicon.png")
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Open+Sans+Condensed:300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/app.css')

  body

    navlist(ng-controller="NavCtrl")

    block body

    footer.bottom-bar
      div.social-links
        a(href="http://www.facebook.com/ilabhaiti", target="_blank")
          i(class="fa fa-facebook-square")
        a(href="http://www.flickr.com/people/kidmoborg/", target="_blank")
          i(class="fa fa-flickr")
        a(href="https://www.youtube.com/channel/UCbpGrMcn8IcGOF2tKUIXqQg", target="_blank")
          i(class="fa fa-youtube")
        a(data-toggle="modal", data-target="#contactModal")
          i(class="fa fa-envelope")
        a(href="mailto:ilab.haiti@gmail.com", target="_blank") ilab.haiti@gmail.com
      div.contact-info
        img.ilab-logo-footer(src="/images/ilab-logo.png", width="80px")
        | is a project of
        a.kid-mob-box(href="http://kidmob.org", target='_blank')
          img(src="/images/kidmob-logo.png", width="40px")
