<!DOCTYPE html>
doctype 5
html(ng-app="ilabApp")
  head
    meta(charset='utf8')
    base(href='/')
    title iLab // Haiti
    link(rel='stylesheet', href='/css/bootstrap.min.css', rel="stylesheet")
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Open+Sans+Condensed:300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/app.css')

  body

    navlist(ng-controller="NavCtrl")

    block body
