/* app css stylesheet */

* {
  font-family: 'Open Sans', 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.2s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  border: none;
}

a:hover {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

.nav-list {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 14px rgba(0,0,0,.2);
  left: 0;
  padding: 10px 6%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
}

.logo {
  margin-right: 10px;
}

.nav-list ul {
  display: inline-block;
  position: absolute;
  right: 6%;
  top: 26px;
}

.nav-list ul li {
  list-style: none;
  display: inline-block;
  margin-right: 26px;
}

.nav-list ul li a {
  color: #777;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 2px;
  text-transform: uppercase;
  margin-right: 11px;
}

.nav-list ul li a:hover {
  border-bottom: 1px solid #BF2E21;
  color: #BF2E21;
  text-decoration: none;
}

.active {
  border-bottom: 1px solid #999;
}

#myModal {
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 45%;
}

.modal-dialog {
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  background: rgba(255,255,255,1);
  margin-top: 12%;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  padding: 1px 6%;
  width: 100%;
}

.bottom-bar ul {

}

.bottom-bar li {
  display: inline-block;
  list-style: none;
}

.bottom-bar li a {
  color: black;
  margin-right: 20px;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.75);
}

.modal-header {
  font-size: 42px;
}

.modal-header {
  color: #428bca;
}

.modal-body {
  font-size: 16px;
  padding: 10px;
}

.modal-body span {
  color: #428bca;
}

.donate-button {
  font-size: 18px;
  margin-top: 20px;
}

/*  WHAT  */


.what-main {
  margin-top: 56px;
}

/*  WHO  */


.col-md-4 {
  padding: 4px;
}

.what-image-box {
  height: 320px;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 6px;
}

.what-image-box img,
.who-image-box img {
  width: 100%;
}


.whoImageBox img {
  width: 100%;
}

.what-image-box img {
  margin-top: -156px;
}