/* app css stylesheet */

.title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 28px;
  line-height: 28px;
}

.hero-container,
.hero {
  min-height: 480px;
}

.hero-container {
  padding-top: 110px;
  position: relative;
}

.hero {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.hero-content {
  margin-left: 10%;
  position: absolute;
  text-align: center;
  width: 80%;
}

.guide-image {
  border-radius: 50%;
}

.feature-box {
  padding: 50px 6%;
}

.float-right {
  float: right;
  text-align: right;
}

.feature-box h2 {
  font-size: 32px;
}

.feature-box div {
  color: #777;
  display: inline-block;
  font-size: 18px;
  width: 50%;
}

.feature-box img {
  width: 50%;
}