/* app css stylesheet */

.language-select {
	display: block;
	margin-left: 6%;
	margin-top: 100px;
}

.all-guides {
	margin: 0 0 0 6%;
	width: 88%;
}

.guide-box {
	display: inline-block;
	min-height: 400px;
	min-width: 300px;
	width: 48%;
	background-color: #f7f7f7;
	margin: 10px 2% 0 0;
	vertical-align: top;
	padding: 15px;
}

.cover-box {
	display: inline-block;
	margin-right: 20px;
	position: relative;
}

.guide-cover {
	border-radius: 4px;
	box-shadow: 0 5px 6px rgba(0,0,0,.2);
	display: inline-block;
}

.guide-text {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.add-to-cart {
	padding: 4px 8px;
	position: absolute;
	top: 50px;
	z-index: 3;
}

.guide-title {
	color: #555;
	display: inline-block;
	font-size: 22px;
	margin-bottom: 10px;
	vertical-align: top;
}


